@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

svg {
  user-select: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
